.Parent-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.title h1 {
  margin-right: 25px;
}

.item {
  width: 900px;
  height: 45px;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #b453e8;
  margin: 0 20px 30px;
}
