.Parent-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.title h1 {
  margin-right: 25px;
}

.item {
  width: 1000px;
  /* height: 45px; */
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #b453e8;
  margin: 15px 20px 15px;
}

.item p {
  padding: 12px 15px;
}

.button-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 5px 5px;
  margin: 0 5px;
}

.home-butt {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #000000;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  margin: 5px;
}

.icon-house {
  position: absolute;
  font-size: 22px;
  color: #ffffff;
  top: 50%;
  left: 22.5px;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in-out;
}

.label-butt {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.home-butt:hover {
  width: 120px;
  border-radius: 20px;
  border: none;
}

.home-butt:hover .label-butt {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.trash-butt {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #000000;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  margin: 5px;
}

.icon-trash {
  position: absolute;
  font-size: 22px;
  color: #ffffff;
  top: 50%;
  left: 22.5px;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in-out;
}

.label-butt {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.trash-butt:hover {
  width: 120px;
  border-radius: 20px;
  border: none;
}

.trash-butt:hover .label-butt {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.icon-list {
  padding: 0 7px;
}

.itemActions {
  display: flex;
  gap: 15px;
  margin-right: auto;
  padding-left: 20px;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #343a40;
  transition: transform 0.2s, color 0.2s;
}

.actionButton:hover {
  transform: scale(1.2);
  color: #007bff;
}

.deleteButton:hover {
  color: #dc3545;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 25px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.confirmButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Yekan", sans-serif;
  transition: background-color 0.1s;
}

.confirmButton {
  background-color: #000;
  color: #FFF;
}
.confirmButton:hover {
  background-color: #1fb172;
}

.cancelButton {
  background-color: #000;
  color: #fff;
}
.cancelButton:hover {
  background-color: #ff0000;
}
