* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #eff7f6;
  z-index: 100;
  direction: rtl;
}

.modal {
  display: flex;
  flex-direction: column;
  background: #006d77;
  padding: 32px;
  margin: 80px auto;
  max-width: 1100px;
  height: auto;
  min-height: 600px;
  border-radius: 8px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.label {
  width: 120px;
  font-size: 1.1rem;
  text-align: right;
  margin-left: 15px;
  color: #fff;
}

.input,
.select-category {
  width: 60%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 20px 0 20px 0;
  padding: 0 10px;
  font-size: 1rem;
}

.select-category {
  background-color: white;
  color: #333;
}

.input:focus,
.select-category:focus {
  outline: none;
  border: 2px solid #07beb8;
}

.alert {
  width: 100%;
  min-height: 50px;
  color: #ffdddd;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.alert p {
  width: 100%;
  background-color: #800000;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.butt-1,
.butt-2 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px 25px 0;
  font-size: 1.1rem;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.butt-1:hover {
  background-color: #00a77b;
  color: #fff;
}

.butt-2:hover {
  background-color: #ca2228;
  color: #fff;
}

.gender-group {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.gender-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  width: auto;
  margin: 0;
}

.radio-input {
  width: 20px;
  height: 20px;
}

.success-message {
  background-color: #e6ffe6;
  color: #008000;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
