* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #eff7f6;
}

.modal {
  display: flex;
  flex-direction: column;
  background: #006d77;
  /* background: #07beb8; */
  padding: 32px;
  margin: 80px auto;
  max-width: 1100px;
  height: 550px;
  border-radius: 8px;
}

.modal div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal label {
  width: 120px;
  font-size: 1.1rem;
  text-align: right;
  margin-left: 15px;
  color: #fff;
}

.modal input {
  /* flex: 1; */
  width: 60%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 20px 0 20px 0;
}

.modal input:focus {
  outline: none;
  border: 2px solid #07beb8;
}

.alert {
  width: 30%;
  height: 50px;
  color: #fff;
  /* background-color: #fff; */
}

.butt-1 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px 50px 0;
  font-size: 1.1rem;
}

.butt-1:hover {
  background-color: #00a77b;
  transition: 0.1s all ease-in-out;
  color: #fff;
}

.butt-2 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px 50px 0;
  font-size: 1.1rem;
}

.butt-2:hover {
  background-color: #ca2228;
  transition: 0.1s all ease-in-out;
  color: #fff;
}
