/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.header-root {
  display: flex;
  justify-content: flex-end;
}

.header {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin: 0 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 10px;
}

.plusButt button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  background-color: #a4133c;
  color: #fff;
  cursor: pointer;
}

.contact-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.svg {
  padding: 10px;
}
