@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("./assets/fonts/Vazirmatn[wght].woff2") format("woff2-variations"),
    url("./assets/fonts/Vazirmatn[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kalameh Bold";
  src: url("./assets/fonts/Kalameh-Bold.eot");
  src: url("./assets/fonts/Kalameh-Bold.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/Kalameh-Bold.woff2") format("woff2"),
       url("./assets/fonts/Kalameh-Bold.woff") format("woff"),
       url("./assets/fonts/Kalameh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}