.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  background-color: #f7f8f8;
}

.errorCode {
  font-size: 8rem;
  font-weight: 600;
  color: #dc3545;
}

.message {
  font-size: 1.5rem;
  color: #343a40;
  margin-top: 0;
}

.link {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 10px;
}

.link:hover {
  background-color: #0056b3;
  transition: background-color 0.1s ease-in-out;
}

@media (max-width: 1200px) {
  .errorCode {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .errorCode {
    font-size: 6rem;
  }
  .message {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .errorCode {
    font-size: 5rem;
  }
  .message {
    font-size: 1.2rem;
  }
  .link {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  .errorCode {
    font-size: 4.5rem;
  }
}

@media (max-width: 360px) {
  .errorCode {
    font-size: 4rem;
  }
  .message {
    font-size: 1.1rem;
  }
}
